body {
  font-family: "Roboto Mono", monospace;
}
#main-bg {
  padding: 10% 5% 0% 5%;
  line-height: 2;
}
.form-control-lg {
  width: 100%;
  background-color: #121212;
  border: 1px solid #505050;
  color: white;
}

#result {
  color: #b4b4b4;
}

#res-color {
  color: #77b300;
}
